@model MvcMusicStore.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

<script src="~/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<form method="post">
    <div asp-validation-summary="ModelOnly">Password change was unsuccessful. Please correct the errors and try again.</div>
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                <label asp-for="OldPassword"></label>
            </div>
            <div class="editor-field">
                <input asp-for="OldPassword" type="password" />
                <span asp-validation-for="OldPassword"></span>
            </div>

            <div class="editor-label">
                <label asp-for="NewPassword"></label>
            </div>
            <div class="editor-field">
                <input asp-for="NewPassword" type="password" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="editor-label">
                <label asp-for="ConfirmPassword"></label>
            </div>
            <div class="editor-field">
                <input asp-for="ConfirmPassword" type="password" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
</form>
