@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="~/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Album</legend>

        <input asp-for="AlbumId" type="hidden" />

        <div class="editor-label">
            <label asp-for="GenreId">Genre</label>
        </div>
        <div class="editor-field">
            <select name="GenreId" asp-items="ViewBag.GenreId"><option value="">Select...</option></select>
            <span asp-validation-for="GenreId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="ArtistId">Artist</label>
        </div>
        <div class="editor-field">
            <select name="ArtistId" asp-items="ViewBag.ArtistId"><option value="">Select...</option></select>
            <span asp-validation-for="ArtistId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Title"></label>
        </div>
        <div class="editor-field">
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>

        <div class="editor-label">
            <label asp-for="Price"></label>
        </div>
        <div class="editor-field">
            <input asp-for="Price" />
            <span asp-validation-for="Price"></span>
        </div>

        <div class="editor-label">
            <label asp-for="AlbumArtUrl"></label>
        </div>
        <div class="editor-field">
            <input asp-for="AlbumArtUrl" />
            <span asp-validation-for="AlbumArtUrl"></span>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
